@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: Rubik;
        src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Rubik;
        src: url("./assets/fonts/Rubik-Italic-VariableFont_wght.ttf");
        font-weight: 100 900;
        font-style: italic;
        font-display: swap;
    }
}

@layer base {
    .app-attract {
        @apply rounded bg-gray bg-opacity-30
    }

    .app-attract-active {
        @apply bg-opacity-40
    }

    .app-attract-hover {
        @apply hover:app-attract-active hover:cursor-pointer
    }

    .btn-secondary {
        @apply bg-gray text-black rounded py-2 px-4 hover:bg-opacity-40
    }

    .btn-primary {
        @apply bg-blue hover:bg-opacity-40 text-white font-bold py-2 px-4 rounded
    }

    .form-field {
        @apply flex flex-col gap-1
    }

    .gradient-bg {
        @apply bg-gradient-to-b from-[#4e376c] via-[#222441] to-[#1D1E35]
    }

    .fixed-layout-container {
        @apply flex flex-col fixed h-full w-full items-center justify-center gradient-bg top-0 left-0;
    }

    .tabs-container {
        @apply app-attract w-[400px] mx-auto flex flex-col gap-5
    }

    .form-input-text {
        @apply text-black px-4 py-2
    }

    .form-input-select {
        @apply border border-white text-black text-sm rounded-lg p-2.5 ring-black
    }

    .form-fields {
        @apply flex flex-col gap-2
    }
}
